In [20]:
import pandas as pd

In [21]:
#Reading csv file that has the geographical coordinates of each postal code to a dataframe
df_geo=pd.read_csv('https://cocl.us/Geospatial_data')

In [22]:
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [23]:
#Reading table from wikipedia website to a dataframe and cleaning it
table=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df=pd.DataFrame(table[0])
df2 = df[df.Borough!='Not assigned']
df3=df2.groupby(['Postcode','Borough'],as_index=False).agg(', '.join)
df3.loc[df3['Neighbourhood']=='Not assigned','Neighbourhood']=df3['Borough']
df3.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [24]:
#Renaming Postcode column to align column names in both the dataframes
df3.rename(columns={'Postcode':'Postal Code'}, inplace=True)
df3.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Rouge, Malvern
1         M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [25]:
#Merging both dataframes
df_fnl=pd.merge(df3,df_geo,how='left',on=['Postal Code'])

In [26]:
df_fnl.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476